.bg-bai{
    background: #fff;
}
.bg-cheng{
	background: #f35929;
}
.bg-hui{
	background: #666666;
}
.bg-slan{
	background: #3c6191 !important;
}
.bg-dhui{
	background: #ebe6e4;
}
.bg-hong{
	background: #e00c0c;
}