.index-menu{
	display: block;
	overflow: hidden;
	padding: .5em 0;
	margin: .4em 0 .6em 0;
	li{
		display: block;
		width: 20%;
		.l-left;
		img{
			width: 100%;
		}
	}
}
.loc-box{
	display: block;
	overflow: hidden;
	border-top: 2px solid #1f1f1f;
}
.loc-tab{
	display: block;
	overflow: hidden;
	li{
		display: block;
		overflow: hidden;
		width: 25%;
		.l-left;
		.text-ac;
		padding: .4em 0;
	}
	li.active{
		.col-huang;
	}
}