.index-menu{
	display: block;
	overflow: hidden;
	padding: .5em 0;
	margin: .4em 0 .6em 0;
	li{
		display: block;
		width: 20%;
		.l-left;
		img{
			width: 100%;
		}
	}
}
.loc-box{
	display: block;
	overflow: hidden;
	border-top: 2px solid #1f1f1f;
	margin-bottom: 1em;
}
.loc-tab{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	li{
		display: block;
		overflow: hidden;
		width: 25%;
		.l-left;
		.text-ac;
		padding: .4em 0;
	}
	li.active{
		.col-huang;
	}
}
.swiper-container2{
	display: block;
	width: 100%;
	overflow: hidden;
}
.loctab-con{
	display: block;
	overflow: hidden;
	width: 100%;
	.info{
		overflow: hidden;
		width: 100%;
		height: 16em;
		margin: 8px 0;
	}
	.picbox{
		display: block;
		overflow: hidden;
		.l-left;
		.pic{
			display: block;
			overflow: hidden;
			height: 12em;
			img{
				width: 100%;
			}
		}
	}
	.title{
		display: block;
		overflow: hidden;
		height: 4em;
		line-height: 4em;
		width: 92%;
		padding: 0 4%;
		position: absolute;
		top: 8em;
		color: #fff;
		background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)); 
		background: -o-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)); 
		background: -moz-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
		background: linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
		h2{
			font-weight: normal;
			.font18;
		}
		>a{
			.col-huang;
		}
	}
	.inner{
		padding: 4px;
		>p{
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.checkbox{
			display: block;
			overflow: hidden;
			border-top: 1px solid #ddd;
			a.check{
				margin: 4px;
			}
			a:hover.check,a:active.check,a.active{
				.col-huang;
			}
		}
	}
}

.newslist{
	display: block;
	overflow: hidden;
	width: 100%;
	h3{
		.text-ac;
		border-bottom: 1px solid #ddd;
		padding: .4em 20%;
		height: 2em;
		line-height: 2em;
		.bg-bai;
		font-weight: normal;
		.font14;
		span{
			padding: 0 .4em;
			.bg-bai;
			display: inline-block;
			i{
				margin: 0 .2em;
			}
		}
		hr{
			margin-top: -1em;
		}
	}
}
.newsbox-lg{
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	margin-bottom: 1em;
	.bg-bai;
	.picbox{
		display: block;
		overflow: hidden;
		width: 100%;
		padding: .4em 0;
		height: 12em;
		img{
			width: 100%;
		}
	}
	.tag{
		display: inline-block;
		position: absolute;
		top: 1em;
		padding: 2px 4px;
		.bg-huang;
		.col-hei;
	}
	.title{
		display: block;
		position: absolute;
		width: 100%;
		top: 6.8em;
		height: 6em;
		background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)); 
		background: -o-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)); 
		background: -moz-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
		background: linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
		color: #fff;
		.manhead{
			position: relative;
			top: 3.4em;
			.l-left;
			display: block;
			width: 4em;
			margin: 0 .4em;
			.pic{
				display: block;
				overflow: hidden;
				width: 4em;
				height: 4em;
				border: 2px solid #f5c658;
				border-radius: 50%;
				box-sizing: border-box;
				img{
					width: 100%;
				}
			}
			p.name{
				color: #aaa;
				display: block;
				overflow: hidden;
				white-space: nowrap;
				.text-ac;
				.font8;
			}
		}
		a.tit{
			display: block;
			width: 80%;
			margin-top: -1.2em;
			margin-left: 4em;
			.font12;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	p.info{
		display: block;
		padding: .4em .4em .4em 4.8em;
		border-bottom: 1px solid #ddd;
	}
}
.clickbox{
	display: block;
	overflow: hidden;
	padding: .4em;
	.font12;
	a{
		margin: .4em;
		i{
			.font12;
			margin-right: 4px;
		}
	}
	a:hover,a:active,a.active{
		.col-huang;
	}
}
.newsbox-sm{
	display: block;
	overflow: hidden;
	.bg-bai;
	width: 100%;
	margin-bottom: 1em;
	.picbox{
		display: block;
		overflow: hidden;
		padding: .4em;
		li{
			display: block;
			overflow: hidden;
			width: 31.33%;
			margin: 0 1%;
			.l-left;
			img{
				width: 100%;
			}
		}
	}
	.infobox{
		display: block;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		.title{
			display: block;
			overflow: hidden;
			height: 24px;
			line-height: 24px;
			.tag{
				display: block;
				width: 18%;
				.text-ac;
				.bg-huang;
				.col-hei;
				margin-right: 2%;
			}
			a.tit{
				display: block;
				width: 78%;
				overflow: hidden;
				.font12;
				font-weight: bold;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		>p{
			display: block;
			padding: .4em;
		}
	}
}
.bottom-btn{
	display: block;
	width: 100%;
	overflow: hidden;
	margin: .4em auto;
	>a{
		display: block;
		margin: 0 8em;
		padding: .4em .8em;
		border-radius: 1.2em;
		border: 1px solid #f5c658;
		.col-huang;
	}
}

//发现文章
.pagetab{
	position: fixed;
    display: block;
    width: 100%;
    .bg-hei;
    .col-huang;
    overflow: hidden;
    z-index: 999;
    li{
    	display: block;
    	width: 20%;
    	.l-left;
    	.text-ac;
    	a{
    		display: inline-block;
    		padding: 8px 0;
    		box-sizing: border-box;
    	}
    	a:hover,a:active,a.active{
    		border-bottom: 2px solid #fed572;
    		color: #fed572;
    	}
    }
}
.pagetit-box{
	position: relative;
	display: block;
	.pic-box{
		display: block;
		overflow: hidden;
		height: 12em;
		img{
			width: 100%;
		}
	}
	.titinfo{
		position: absolute;
		top: 6em;
		display: block;
		width: 96%;
		height: 6em;
		padding: 0 2%;
		background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)); 
		background: -o-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)); 
		background: -moz-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
		background: linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
		.manhead{
			display: block;
			overflow: hidden;
			position: relative;
			top: 2.4em;
			margin-right: .4em;
			.pic{
				display: block;
				overflow: hidden;
				width: 5em;
				height: 5em;
				border-radius: 50%;
				border: 2px solid #f5c658;
				box-sizing: border-box;
				img{
					width: 100%;
				}
			}
			a.focuse{
				display: inline-block;
				.bg-lhuang;
				.col-hei;
				border-radius: 4px;
				padding: 2px 12px;
				.text-ac;
			}
			a:active.focuse,a:hover.focuse{
				.bg-huang;
			}
		}
		.info{
			display: block;
			overflow: hidden;
			margin-top: 1.8em;
			p.pagetit{
				display: block;
				height: 2.8em;
				.font14;
				.col-bai;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			.tagbox{
				display: block;
				margin: 8px 0;
				.col-huang;
			}
			.detailbox{
				display: block;
				overflow: hidden;
				height: 2em;
				line-height: 2em;
				a{
					display: inline-block;
					margin: 0 4px;
					float: left;
					line-height: 2em;
				}
				a.active,a:active,a:hover{
					.col-huang;
				}
			}
		}
	}
}
.pageinfo{
	display: block;
	overflow: hidden;
	padding-top: 6em;
	margin-bottom: 1em;
	.border{
		height: 1px;
		box-sizing: border-box;
		border-top: 1px solid #ddd;
	}
	>p{
		padding: 4px 8px;
		img{
			width: 100%;
		}
	}
}
.related{
	display: block;
	overflow: hidden;
	margin-bottom: 1em;
	h2{
		height: 2.4em;
		line-height: 2.4em;
		padding: 0 8px;
		font-weight: normal;
		border-bottom: 1px solid #ddd;
		.font14;
	}
}
.relatedbox-lg{
	display: block;
	overflow: hidden;
	margin: 8px;
	position: relative;
	.pic{
		display: block;
		overflow: hidden;
		width: 100%;
		img{
			width: 100%;
			vertical-align: top;
		}
	}
	a.collect{
		display: inline-block;
		position: absolute;
		top: .4em;
		right: .4em;
		background: rgba(245, 198, 88, 0.8);
		.col-bai;
		width: 2.4em;
		height: 2.4em;
		line-height: 2.4em;
		.text-ac;
		border-radius: 50%;
		z-index: 99;
		i{
			.font14;
			line-height: 2em;
		}
	}
	.titbox{
		display: block;
		width: 96%;
		height: 8em;
		padding: 0 2%;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .9)); 
		background: -o-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .9)); 
		background: -moz-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .9));
		background: linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .9));
		p.tit{
			.font14;
			.col-bai;
			margin-top: 1em;
		}
		.detail{
			display: block;
			overflow: hidden;
			.prize{
				.l-left;
				.norprize{
					.col-bai;
					text-decoration: line-through;
					margin-left: 4px;
				}
			}
			a.btn-buy{
				display: inline-block;
				.l-right;
				.col-huang;
				.font14;
				i{
					margin-right: 4px;
				}
			}
		}
	}
}
.relatedbox-sm{
	display: block;
	padding: 8px;
	overflow: hidden;
	.probox{
		display: block;
		overflow: hidden;
		.pic{
			display: block;
			width: 100%;
			overflow: hidden;
			img{
				width: 100%;
			}
		}
		a.collect{
			display: inline-block;
			position: absolute;
			top: .4em;
			right: .4em;
			background: rgba(245, 198, 88, 0.8);
			.col-bai;
			width: 2.4em;
			height: 2.4em;
			line-height: 2.4em;
			.text-ac;
			border-radius: 50%;
			z-index: 99;
			i{
				.font14;
				line-height: 2em;
			}
		}
	}
	.titbox{
		display: block;
		overflow: hidden;
		p.tit{
			height: 3em;
			line-height: 1.4em;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		.detail{
			display: block;
			overflow: hidden;
			line-height: 1.4em;
			.prize{
				.l-left;
				.norprize{
					.font8;
					text-decoration: line-through;
					.col-hui;
				}
			}
			a.btn-buy{
				.l-right;
				.col-huang;
			}
		}
	}
}
.comment{
	display: block;
	overflow: hidden;
	h2{
		display: block;
		overflow: hidden;
		font-weight: normal;
		height: 2.8em;
		line-height: 2.8em;
		padding: 0 8px;
		border-bottom: 1px solid #ddd;
	}
	.commentbox{
		display: block;
		overflow: hidden;
		padding: 8px;
		border-bottom: 1px solid #ddd;
		.manhead{
			display: block;
			width: 24%;
			height: auto;
			.l-left;
			.pic{
				display: block;
				width: 6em;
				height: 6em;
				border-radius: 50%;
				box-sizing: border-box;
				border: 2px solid #f5c658;
				img{
					width: 100%;
				}
			}
		}
		.info{
			display: block;
			.l-left;
			width: 76%;
			.namebox{
				display: block;
				overflow: hidden;
				.font12;
				>span{
					font-weight: 600;
				}
				>a:hover,a:active{
					.col-huang;
				}
			}
			.date{
				.col-hui;
				.font10;
				span{
					margin-right: 8px;
				}
			}
			.replybox{
				display: block;
				overflow: hidden;
				.replyname{
					margin-right: 4px;
				}
			}
			.postxt{
				display: block;
				overflow: hidden;
				border: 1px solid #ddd;
				padding: 4px;
				margin-top: 4px;
			}
		}
	}
}

// 产品模块
.prolist{
	display: block;
	overflow: hidden;
	.probox{
		position: relative;
		display: block;
		overflow: hidden;
		width: 48%;
		margin: 4px 1%;
		.l-left;
		.bg-bai;
		.pic{
			display: block;
			width: 100%;
			overflow: hidden;
			img{
				width: 100%;
			}
		}
		a.collect{
			display: inline-block;
			position: absolute;
			top: .4em;
			right: .4em;
			background: rgba(245, 198, 88, 0.8);
			.col-bai;
			width: 2.4em;
			height: 2.4em;
			line-height: 2.4em;
			.text-ac;
			border-radius: 50%;
			z-index: 99;
			i{
				.font14;
				line-height: 2em;
			}
		}
	}
	.titbox{
		display: block;
		overflow: hidden;
		padding: 4px;
		p.tit{
			height: 3em;
			line-height: 1.4em;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		.detail{
			display: block;
			overflow: hidden;
			line-height: 1.4em;
			.prize{
				.l-left;
				.norprize{
					.font8;
					text-decoration: line-through;
					.col-hui;
				}
			}
			a.btn-buy{
				.l-right;
				.col-huang;
			}
		}
	}
}
.prodetail{
	display: block;
	overflow: hidden;
	.bg-bai;
	margin: .5em 0;
	padding: 8px 4px;
	h2.tit{
		.font14;
	}
	.prize{
		display: block;
		overflow: hidden;
		.norprize{
			.font8;
			.col-hui;
			text-decoration: line-through;
		}
	}
}
.shopbox{
	display: block;
	overflow: hidden;
	.bg-bai;
	margin-bottom: .5em;
	h2.tit{
		height: 2.8em;
		line-height: 2.8em;
		padding: 0 8px;
		.font12;
		font-weight: normal;
		border-bottom: 1px solid #ddd;
	}
	.groupbox{
		display: block;
		overflow: hidden;
		padding: 8px 12px;
		border-bottom: 1px solid #ddd;
	}
	.joinlink{
		display: block;
		position: relative;
		height: 4em;
		width: 94%;
		border-radius: 3em;
		border: 1px solid #f5c658;
		box-sizing: content-box;
		.manhead{
			display: inline-block;
			overflow: hidden;
			height: 3.8em;
			width: 3.8em;
			border-radius: 50%;
			border: 1px solid #f5c658;
			box-sizing: content-box;
			img{
				width: 100%;
				vertical-align: top;
			}
		}
		.detail{
			display: block;
			overflow: hidden;
			width: 68%;
			padding: 0 1%;
			.l-left;
			line-height: 2em;
			.name{
				white-space: nowrap;
				.font12;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.leftime{
				.font8;
			}
		}
		.join{
			.bg-huang;
			display: block;
			overflow: hidden;
			position: absolute;
			z-index: 999;
			top: .5em;
			right: -4px;
			height: 3em;
			width: 3em;
			transform:rotate(-45deg);
			-ms-transform:rotate(-45deg);
			-moz-transform:rotate(-45deg);
			-webkit-transform:rotate(-45deg);
			-o-transform:rotate(-45deg);
			text-align: center;
			border-radius: 4px;
		}
		a.btn-join{
			transform:rotate(45deg);
			-ms-transform:rotate(45deg);
			-moz-transform:rotate(45deg);
			-webkit-transform:rotate(45deg);
			-o-transform:rotate(45deg);
			text-align: center;
			.col-bai;
			position: relative;
			top: .8em;
			right: .5em;
		}
	}
	.commentbox{
		display: block;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		padding: 4px 8px;
		.manhead{
			display: block;
			overflow: hidden;
			height: 4em;
			width: 4em;
			border-radius: 50%;
			.l-left;
			border: 2px solid #f5c658;
			img{
				width: 100%;
				vertical-align: top;
			}
		}
		.detailbox{
			display: block;
			overflow: hidden;
			width: 56%;
			margin-left: 4px;
			.l-left;
		}
		.stars{
			display: block;
			.col-huang;
			.l-right;
			i{
				.font10;
			}
		}
	}
}
.infobox{
	display: block;
	overflow: hidden;
	width: 100%;
	p{
		width: 100%;
	}
	img{
		width: 100%;
	}
}
.addcarbox{
	display: block;
	overflow: hidden;
	.prosec{
		display: block;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		padding: 0 8px 8px 8px;
		.pic{
			width: 6em;
			height: 6em;
			.l-left;
			img{
				width: 100%;
			}
		}
		.info{
			.l-left;
			display: block;
			overflow: hidden;
			margin-left: 8px;
		}
		>a{
			display: block;
			overflow: hidden;
			width: 1.4em;
			height: 1.4em;
			.font14;
			position: absolute;
			right: 8px;
			top: 4px;
			i{
				.font14;
			}
		}
	}
	.prosize{
		display: block;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		padding: 0 8px;
		>p{
			display: block;
			overflow: hidden;
		}
		.tag{
			display: block;
			margin: 4px 0;
			overflow: hidden;
			>a{
				display: inline-block;
				padding: 2px 8px;
				margin-right: 8px;
				.l-left;
				border-radius: 4px;
				border: 1px solid #f5c658;
			}
			>a:hover,>a:active,>a.active{
				.bg-huang;
			}
		}
	}
	.pronum{
		display: block;
		height: 2.4em;
		line-height: 2.4em;
		padding: 4px 8px;
		input[type="text"]{
			width: 4em;
			border: 1px solid #f5c658;
			height: 1.8em;
			margin: .2em auto;
		}
		a{
			.font12;
			margin: 0 4px;
		}
	}
	>a.confirm{
		display: block;
		width: 100%;
		overflow: hidden;
		.bg-huang;
		.col-hei;
		.text-ac;
		height: 2.4em;
		line-height: 2.4em;
	}
}

//订单模块
.ordertab{
	position: fixed;
    display: block;
    width: 100%;
    .bg-hei;
    .col-huang;
    overflow: hidden;
    z-index: 999;
    li{
    	display: block;
    	width: 16.66%;
    	.l-left;
    	.text-ac;
    	.font8;
    	a{
    		display: inline-block;
    		padding: 8px 0;
    		box-sizing: border-box;
    	}
    	a:hover,a:active,a.active{
    		border-bottom: 2px solid #fed572;
    		color: #fed572;
    	}
    }
}
.orderlist{
	display: block;
	overflow: hidden;
}
.orderbox{
	.bg-bai;
	display: block;
	overflow: hidden;
	margin-bottom: 1em;
	.state{
		display: block;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		height: 2.4em;
		line-height: 2.4em;
		.col-hei;
		padding: 0 8px;
		box-sizing: border-box;
	}
	.proinfo{
		width: 96%;
		display: block;
		overflow: hidden;
		padding: 4px 2%;
		border-bottom: 1px solid #ddd;
		.pic{
			display: block;
			width: 24%;
			// height: 6em;
			overflow: hidden;
			.l-left;
			img{
				width: 100%;
				vertical-align: top;
			}
		}
		.detail{
			display: block;
			width: 74%;
			margin-left: 2%;
			overflow: hidden;
			.l-left;
			p.tit{
				.font12;
				font-weight: 600;
				display: inline-block;
			}
		}
	}
	.countall{
		display: block;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		.text-ar;
		height: 2.8em;
		line-height: 2.8em;
	}
	.orderbtn{
		display: block;
		overflow: hidden;
		>a{
			.l-right;
			margin: 8px 4px;
		}
	}
}
a.btn{
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	padding: 2px 8px;
	border-width: 1px;
	border-radius: 4px;
	border-style: solid;
}
a.btn.default{
	border-color: #1f1f1f;
	color: #1f1f1f;
}
a.btn.success{
	border-color: #fed572;
	.col-huang;
}
a.btn.warning{
	border-color: #fa7669;
	color: #fa7669;
}
.orderstate{
	display: block;
	overflow: hidden;
	.bg-hei;
	height: 4.8em;
	line-height: 4.8em;
	padding: 0 24px;
	.col-bai;
	i{
		font-size: 2.8em;
	}
}
.orderinfo{
	display: block;
	overflow: hidden;
	.bg-bai;
	padding: 4px 8px;
	line-height: 2em;
	.font8;
	margin-bottom: 1em;
}

// 拼单模块
.groupjoin{
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.joinpro{
	display: block;
	overflow: hidden;
	.bg-bai;
	border-bottom: 1px solid #ddd;
	padding: 4px 8px;
	margin-bottom: 1em;
	.pic{
		display: block;
		width: 6em;
		height: 6em;
		overflow: hidden;
		margin-right: 8px;
		.l-left;
		img{
			width: 100%;
			vertical-align: top;
		}
	}
	.detail{
		p.tit{
			.font12;
		}
	}
}
.seal{
	position: absolute;
	top: 8px;
	right: 8px;
	display: block;
	overflow: hidden;
	width: 5em;
	height: 5em;
	z-index: 99;
	>a.seal-btn{
		display: inline-block;
		overflow: hidden;
		width: 3.6em;
		height: 3.6em;
		border: 2px solid #e60000;
		border-radius: 50%;
		box-sizing: border-box;
		border-width: 2px;
		border-style: solid;
		.font14;
		.text-ac;
		vertical-align: middle;
		transform: rotate(330deg);
		-ms-transform: rotate(330deg);
		-moz-transform: rotate(330deg);
		-webkit-transform: rotate(330deg);
		-o-transform: rotate(330deg);
	}
	>a.seal-success{
		border-color: #e60000;
		.col-red;
	}
	>a.seal-fail{
		border-color: #aaaaaa;
		.col-hui;
	}
}
.joinman{
	display: block;
	overflow: hidden;
	padding: 4px 8px;
	margin-bottom: 1em;
	.manlist{
		display: table;
		overflow: hidden;
		margin: 0 auto;
		width: auto;
		vertical-align: middle;
		margin-top: .4em;
		li{
			display: table-cell;
			overflow: hidden;
			position: relative;
			width: 5em;
			margin: 0 1%;
			vertical-align: middle;
			z-index: 9;
			.pic{
				width: 4.4em;
				height: 4.4em;
				margin: 0 auto;
				overflow: hidden;
				border-radius: 50%;
				img{
					width: 100%;
				}
			}
			.title{
				display: block;
				position: absolute;
				top: 0;
				.font8;
				padding: 0 4px;
				.text-ac;
				border-radius: 4em;
				z-index: 99;
				border: 1px solid #fff;
			}
		}
	}
}
.showcase{
	display: none;
	overflow: hidden;
	margin-bottom: 1em;
	li{
		display: block;
		.bg-bai;
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		padding: 4px 8px;
		line-height: 3.4em;
		.pic{
			display: block;
			overflow: hidden;
			width: 3.4em;
			height: 3.4em;
			border-radius: 50%;
			margin-right: 4px;
			img{
				width: 100%;
			}
		}
	}
}
.showbtn{
	text-align: center;
	border-top: 1px solid #ddd;
	height: 2.4em;
	line-height: 2.4em;
	color: #313131;
	.font12;
	margin-bottom: .4em;
}
.arrowdown{
	background: url(../../images/ic-arrowdown.png) 16em center no-repeat;
}
.arrowup{
	background: url(../../images/ic-arrowup.png) 16em center no-repeat;
}
.grouptab{
	position: fixed;
    display: block;
    width: 100%;
    .bg-hei;
    .col-huang;
    overflow: hidden;
    z-index: 999;
    li{
    	display: block;
    	width: 25%;
    	.l-left;
    	.text-ac;
    	.font8;
    	a{
    		display: inline-block;
    		padding: 8px 0;
    		box-sizing: border-box;
    	}
    	a:hover,a:active,a.active{
    		border-bottom: 2px solid #fed572;
    		color: #fed572;
    	}
    }
}

// 优惠券模块
.couponlist{
	display: block;
	overflow: hidden;
}
.couponbox{
	display: block;
	overflow: hidden;
	height: 7em;
	padding: .5em 8px;
	border-radius: 12px;
	.box-left{
		display: block;
		width: 76%;
		height: 7em;
		.l-left;
		background: url(../../images/coupon-lbg.png) left center no-repeat;
		background-size: 100% 100%;
		vertical-align: middle;
	}
	.couponsec{
		margin: .8em 8px;
		display: block;
		overflow: hidden;
		border: 1px dashed #f4a101;
		box-sizing: border-box;
		padding: .4em 0;
		.count{
			display: block;
			overflow: hidden;
			width: 24%;
			.l-left;
			border-right: 1px solid #f4a101;
			padding-right: 4px;
			.text-ac;
		}
		.detail{
			display: block;
			overflow: hidden;
			width: 70%;
			.l-left;
			padding-left: 4px;
			>p{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	.box-right{
		display: block;
		width: 24%;
		height: 4em;
		.l-left;
		.col-bai;
		.text-ac;
		.font14;
		padding-top: 1em;
		vertical-align: middle;
	}
	.immediate{
		background: url(../../images/coupon-rhbg.png) left center no-repeat;
		background-size: 100% 100%;
	}
	.integral{
		background: url(../../images/coupon-rcbg.png) left center no-repeat;
		background-size: 100% 100%;
	}
}
.signpop{
	display: block;
	overflow: hidden;
	padding: 0 12px;
	.pic{
		width: 9em;
		margin: 8px auto;
		img{
			width: 100%;
		}
	}
	>p{
		margin: 4px 0;
	}
	a.btn-sign{
		display: block;
		overflow: hidden;
		margin: 0 auto;
		height: 2em;
		line-height: 2em;
		width: 6em;
		border-radius: 1em;
		.bg-bai;
		.text-ac;
	}
}
.couponinfo{
	display: block;
	overflow: hidden;
	.bg-bai;
	margin: 8px 24px;
	border-radius: 5px;
	position: relative;
	z-index: 9;
	.title{
		height: 4.8em;
		line-height: 4.8em;
		border-bottom: 1px dashed #fed572;
		vertical-align: middle;
		span{
			margin: 0 2px;
		}
	}
	.huangpoint{
		position: absolute;
		display: block;
		overflow: hidden;
		top: 4.2em;
		height: 1.2em;
		width: 100%;
		z-index: 99;
		span{
			display: block;
			width: .6em;
			height: 1.2em;
			.bg-lhuang;
		}
		span.left{
			.l-left;
			left: -.4em;
			border-top-right-radius: .6em;
			border-bottom-right-radius: .6em;
		}
		span.right{
			.l-right;
			right: .4em;
			border-top-left-radius: .6em;
			border-bottom-left-radius: .6em;
		}
	}
	.infobox{
		display: block;
		overflow: hidden;
		padding: 8px 0;
	}
	.discount{
		display: block;
		overflow: hidden;
		border-bottom: 1px dashed #ddd;
		padding: 4px 0;
		margin: 0 18px;
	}
	.explain{
		display: block;
		overflow: hidden;
		padding: 8px 18px;
		.w30{
			width: 30%;
		}
		.w70{
			width: 70%;
		}
		li{
			display: block;
			overflow: hidden;
			margin-bottom: 4px;
		}
	}
	a.btn-receive{
		display: block;
		margin: 12px auto;
		overflow: hidden;
		width: 6em;
		height: 2em;
		line-height: 2em;
		border-radius: 1em;
		.font14;
		.col-bai;
		.text-ac;
		background: #fa7669;
	}
}