.personal{
	display: block;
	overflow: hidden;
	position: relative;
	padding-bottom: 1em;
	.bg-pic{
		position: absolute;
		top: 0;
		z-index: 1;
		overflow: hidden;
		img{
			width: 100%;
			vertical-align: top;
		}
	}
	.manhead{
		position: relative;
		z-index: 99;
		margin: 20px auto 0 auto;
		.text-ac;
		display: block;
		overflow: hidden;
		width: 4.4em;
		height: 4.4em;
		border-radius: 50%;
		border: 2px solid #f5c658;
		box-sizing: border-box;
		img{
			width: 100%;
			vertical-align: top;
		}
	}
	p.maname{
		.col-bai;
		position: relative;
		.text-ac;
		z-index: 98;
		.font12;
		margin: 4px auto;
	}
	a.sign{
		display: block;
		margin: 0 auto;
		position: relative;
		z-index: 97;
		width: 5em;
		.bg-huang;
		.col-bai;
		.text-ac;
		border-radius: 2em;
	}
}
.btn-wallet{
	display: block;
	overflow: hidden;
	margin-top: 1em;
	border-top: 1px solid #f5c658;
	border-bottom: 1px solid #f5c658;
	.bg-bai;
	padding: 6px 0;
	margin-bottom: 1em;
	>a{
		display: inline-block;
		overflow: hidden;
		width: 49%;
		.l-left;
		.text-ac;
		height: 2.4em;
		line-height: 2.4em;
		box-sizing: border-box;
		span.circle{
			display: inline-block;
			line-height: 2em;
			.text-ac;
			.bg-huang;
			border-radius: 50%;
			width: 2em;
			height: 2em;
			margin-right: 4px;
		}
		i{
			.font18;
		}
	}
	a.integral{
		border-right: 1px solid #f5c658;
	}
}
.btn-order{
	display: block;
	overflow: hidden;
	.bg-bai;
	.tit{
		display: block;
		height: 2.4em;
		line-height: 2.4em;
		padding: 0 8px;
		border-bottom: 1px solid #ddd;
	}
	li{
		.l-left;
		width: 20%;
		.text-ac;
		padding: 4px 0;
		>a{
			display: inline-block;
			overflow: hidden;
		}
		i{
			.font18;
			.col-huang;
		}
	}
}
.funclist{
	display: block;
	overflow: hidden;
	.bg-bai;
	margin-top: 1em;
	li{
		display: block;
		overflow: hidden;
		height: 2.8em;
		line-height: 2.8em;
		border-top: 1px solid #ddd;
		padding: 0 8px;
		a.item{
			>span{
				margin-left: 8px;
			}
		}
	}
}
.addressbox{
	display: block;
	overflow: hidden;
	.bg-bai;
	height: 3.6em;
	padding: 4px 0;
	i{
		display: inline-block;
		line-height: 3.6em;
		width: 10%;
		.text-ac;
	}
	.info{
		display: block;
		overflow: hidden;
		width: 80%;
		>p{
			line-height: 1.8em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
		}
	}
}
.border-linear{
	margin-bottom: 1em;
	height: 2px;
	background: #89d1ff; /* Old browsers */
	background: -moz-linear-gradient(left,  #89d1ff 0%, #89d1ff 10%, #fa7669 10%, #fa7669 20%, #89d1ff 20%, #89d1ff 30%, #fa7669 30%, #fa7669 40%, #89d1ff 40%, #89d1ff 50%, #fa7669 50%, #fa7669 60%, #89d1ff 60%, #89d1ff 70%, #fa7669 70%, #fa7669 80%, #89d1ff 80%, #89d1ff 90%, #fa7669 90%, #fa7669 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #89d1ff 0%, #89d1ff 10%, #fa7669 10%, #fa7669 20%, #89d1ff 20%, #89d1ff 30%, #fa7669 30%, #fa7669 40%, #89d1ff 40%, #89d1ff 50%, #fa7669 50%, #fa7669 60%, #89d1ff 60%, #89d1ff 70%, #fa7669 70%, #fa7669 80%, #89d1ff 80%, #89d1ff 90%, #fa7669 90%, #fa7669 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #89d1ff 0%, #89d1ff 10%, #fa7669 10%, #fa7669 20%, #89d1ff 20%, #89d1ff 30%, #fa7669 30%, #fa7669 40%, #89d1ff 40%, #89d1ff 50%, #fa7669 50%, #fa7669 60%, #89d1ff 60%, #89d1ff 70%, #fa7669 70%, #fa7669 80%, #89d1ff 80%, #89d1ff 90%, #fa7669 90%, #fa7669 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89d1ff', endColorstr='#fa7669',GradientType=0 ); /* IE6-9 */

}
.prosec{
	display: block;
	overflow: hidden;
	.bg-bai;
	margin-bottom: 1em;
	a.proinfo{
		width: 96%;
		display: block;
		overflow: hidden;
		padding: 4px 2%;
		border-bottom: 1px solid #ddd;
		.pic{
			display: block;
			width: 24%;
			height: 6em;
			overflow: hidden;
			.l-left;
			img{
				width: 100%;
				vertical-align: top;
			}
		}
		.detail{
			display: block;
			width: 74%;
			margin-left: 2%;
			overflow: hidden;
			.l-left;
			p.tit{
				.font12;
				font-weight: 600;
				display: inline-block;
			}
		}
	}
	.checkbtn{
		display: block;
		overflow: hidden;
		padding: 4px 8px;
		border-bottom: 1px solid #ddd;
		a.group{
			display: inline-block;
			overflow: hidden;
			border: 1px solid #aaa;
			.col-hei;
			padding: 4px 8px;
			border-radius: 4px;
		}
	}
	.paymoney{
		display: block;
		overflow: hidden;
		padding: 4px 8px;
		.text-ar;
	}
	.pronum{
		display: block;
		height: 2.4em;
		line-height: 2.4em;
		padding: 4px 8px;
		input[type="text"]{
			width: 4em;
			border: 1px solid #f5c658;
			height: 1.8em;
			margin: .2em auto;
		}
		a{
			.font12;
			margin: 0 4px;
		}
	}
}
.payway{
	display: block;
	overflow: hidden;
	.bg-bai;
	li{
		display: block;
		overflow: hidden;
		height: 3em;
		line-height: 3em;
		border-bottom: 1px solid #ddd;
		i.icon{
			margin-right: 8px;
		}
		input.input-check[type="checkbox"]{
			position: absolute;
			right: 8px;
			width: 100%;
			height: 3em;
			background: url(../../images/ic-tick.png) center center no-repeat;
			background-size: auto 50%;
			-webkit-appearance: none;
			background-position: -1.4em center;
		}
		input.input-check[type="checkbox"]:checked{
			background-position: 96% center;
		}
	}
}
