.html {
  font-size: .625rem;
  /*10 ÷ 16 × 100% = 62.5%*/
  height: 100%;
}
body {
  font: 12px/1.5 tahoma, 'Microsoft YaHei', arial, sans-serif, 'Hiragino Sans GB';
  font-family: arial, 'Microsoft YaHei', sans-serif, 'Hiragino Sans GB';
  height: 100%;
  color: #333;
  background: #F5F5F5;
  -webkit-overflow-scrolling: touch;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
input[type=submit],
input[type=reset],
input[type=button],
button {
  -webkit-appearance: none;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,
ol {
  list-style: none;
}
input[type='text'],
input[type='search'] {
  outline: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: #fff;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.a-box {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
}
.c333 {
  color: #333333;
}
.c999 {
  color: #999999;
}
.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  /*自动换行*/
  /*-webkit-flex-flow: row; 不换行*/
  justify-content: space-around;
}
.flex-f-row {
  -webkit-flex-flow: row;
}
.flex-in {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
.l-right {
  float: right;
}
.l-left {
  float: left;
}
.l-float {
  *zoom: 1;
}
.l-float:before,
.l-float:after {
  display: table;
  content: "";
}
.l-float:after {
  clear: both;
}
/* 圆角效果 */
.radius5 {
  border-radius: 5px;
}
.radius10 {
  border-radius: 10px;
}
.radius15 {
  border-radius: 15px;
}
.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.bg-bai {
  background: #fff;
}
.bg-hei {
  background: #1f1f1f;
}
.bg-lhuang {
  background: #fed572;
}
.bg-huang {
  background: #f5c658;
}
.bg-hui {
  background: #666666;
}
.bg-slan {
  background: #3c6191 !important;
}
.bg-dhui {
  background: #ebe6e4;
}
.bg-hong {
  background: #e00c0c;
}
.home-banner {
  background: none;
}
.home-banner img {
  width: 100%;
}
.pro-banner {
  background: none;
}
.pro-banner img {
  width: 100%;
  vertical-align: top;
}
.pro-banner .swiper-pagination1 .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #1f1f1f;
  opacity: .5;
}
.pro-banner .swiper-pagination1 .swiper-pagination-bullet-active {
  opacity: 1;
  background: #1f1f1f;
}
.col-hei {
  color: #1f1f1f;
}
.col-hui {
  color: #bfbfbf;
}
.col-lan {
  color: #21abf0;
}
.col-slan {
  color: #3c6191;
}
.col-qlan {
  color: #4fb6c1;
}
.col-lv {
  color: #63b859;
}
.col-bai {
  color: #ffffff;
}
.col-huang {
  color: #f5c658;
}
.col-red {
  color: #e60000;
}
.font8 {
  font-size: 0.8em !important;
}
.font10 {
  font-size: 1em;
}
.font12 {
  font-size: 1.2em;
}
.font14 {
  font-size: 1.4em !important;
}
.font18 {
  font-size: 1.8em;
}
.font20 {
  font-size: 2.2em;
}
.text-ac {
  text-align: center;
}
.text-al {
  text-align: left;
}
.text-ar {
  text-align: right;
}
.text-d {
  text-decoration: line-through;
}
.colunm-title {
  position: relative;
  padding: 6px 0;
  height: 2em;
  margin-bottom: 1px;
  border-bottom: #ddd solid 1px;
}
.homead01 {
  display: flex;
  width: 60%;
  border-right: #fff  solid 1px;
  margin-left: -1px;
}
.homead01 a {
  display: inline-block;
}
.homead01 img {
  display: block;
  max-width: 100%;
}
.homead02 {
  display: flex;
  width: 40%;
  border-bottom: #fff solid 1px;
}
.homead02 a {
  display: inline-block;
}
.homead02 img {
  display: block;
  max-width: 100%;
}
.homead02:first-child {
  border-top: none;
}
#fooder {
  margin-bottom: 76px;
}
#bottom-nav {
  position: fixed;
  bottom: -0.2em;
  width: 100%;
  z-index: 9999;
}
#bottom-nav .page-width {
  background: #000;
  opacity: .9;
}
#bottom-nav li {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
  color: #fff;
}
#bottom-nav li .icon {
  font-size: 1.8em;
}
#bottom-nav li p {
  font-size: .4em;
}
#bottom-nav li.active {
  color: #fed572;
}
#bottom-nav .shopbtn {
  display: block;
  overflow: hidden;
  height: 4em;
  background: #fff;
  border-top: 1px solid #ddd;
}
#bottom-nav .shopbtn a {
  display: block;
  overflow: hidden;
  height: 4em;
  float: left;
  box-sizing: border-box;
  text-align: center;
}
#bottom-nav .shopbtn a.home {
  width: 16%;
  border-right: 1px solid #ddd;
  padding-top: .3em;
}
#bottom-nav .shopbtn a.collect {
  width: 16%;
  padding-top: .3em;
}
#bottom-nav .shopbtn a.onebuy {
  width: 34%;
  background: #f5c658;
  color: #1f1f1f;
}
#bottom-nav .shopbtn a.onebuy p {
  line-height: 1.8em;
}
#bottom-nav .shopbtn a.joinbuy {
  width: 34%;
  background: #1f1f1f;
  color: #f5c658;
}
#bottom-nav .shopbtn a.joinbuy p {
  line-height: 1.8em;
}
#bottom-nav .shopbtn a.addcar {
  width: 30%;
  line-height: 3em;
  color: #ffffff;
  font-size: 1.4em !important;
}
#bottom-nav .shopbtn a.buynow {
  width: 30%;
  background: #e00c0c;
  line-height: 3em;
  color: #ffffff;
  font-size: 1.4em !important;
}
#bottom-nav .shopbtn a.onebook {
  width: 60%;
  line-height: 3em;
  color: #ffffff;
  font-size: 1.4em !important;
}
#bottom-nav .commentxt {
  display: block;
  width: 96%;
  padding: 0 2%;
  background: #fff;
  height: 3.4em;
  bottom: 0;
  border-top: 1px solid #ddd;
}
#bottom-nav .commentxt .inputbox {
  display: block;
  float: left;
  width: 74%;
  height: 2.2em;
  line-height: 2.2em;
  margin: .6em auto;
  border-bottom: 1px solid #ddd;
}
#bottom-nav .commentxt .inputbox i {
  color: #bfbfbf;
  font-size: 1.8em;
}
#bottom-nav .commentxt .inputbox input {
  display: inline-block;
  float: left;
  width: 80%;
  height: 2.2em;
  line-height: 2.2em;
  border: 0;
}
#bottom-nav .commentxt .inputbox-l {
  display: block;
  float: left;
  width: 100%;
  height: 2.2em;
  line-height: 2.2em;
  margin: .6em auto;
  border-bottom: 1px solid #ddd;
}
#bottom-nav .commentxt .inputbox-l i {
  color: #bfbfbf;
  font-size: 1.8em;
}
#bottom-nav .commentxt .inputbox-l input {
  display: inline-block;
  width: 90%;
  float: left;
  height: 2.2em;
  line-height: 2.2em;
  border: 0;
}
#bottom-nav .commentxt > a {
  display: inline-block;
  float: right;
  width: 2.4em;
  height: 2.4em;
  line-height: 2.4em;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background: #f5c658;
  margin: .5em 4px;
}
#bottom-nav .commentxt > a i {
  font-size: 1.4em !important;
}
.bottom-tab {
  display: block;
  max-width: 640px;
  margin: 0 auto;
  background: #fff;
  height: 4em;
  line-height: 4em;
  border-top: 1px solid #ddd;
  overflow: hidden;
}
.bottom-tab a.account {
  padding: 1em 1.8em;
  font-size: 1.4em;
  color: #fff;
  background: #f35929;
}
.bottom-tab a:hover.account {
  background: #c94922;
}
.bottom-tab a.cancel {
  padding: .6em 1em;
  background: #aaa;
  border-radius: .4em;
  color: #ffffff;
}
.bottom-tab a:hover.cancel {
  color: rgba(255, 255, 255, 0.6);
}
.bottom-tab a.confirm {
  padding: .6em 1em;
  background: #f35929;
  border-radius: .4em;
  color: #ffffff;
  margin-right: .4em;
}
.bottom-tab a:hover.confirm {
  color: rgba(255, 255, 255, 0.6);
}
.form-item {
  position: relative;
  font-size: 16px;
  height: 44px;
  line-height: 44px;
  padding-right: 10px;
  padding-left: 10px;
}
.form-item .label {
  width: 80px;
  position: absolute;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form-item .input,
.form-item .textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 0;
  background: 0 0;
  padding-left: 80px;
}
.form-item .icon-close {
  position: absolute;
  top: 0;
  right: 6px;
}
#header {
  z-index: 9999;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 0;
  left: 0;
}
#header .header-box {
  position: relative;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  z-index: 10;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 40px;
  display: -moz-box;
  display: -webkit-box;
  box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}
#header .head-box1 {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  z-index: 10;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 40px;
  display: -moz-box;
  display: -webkit-box;
  box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}
#header .flex1 {
  -webkit-box-flex: 1.0;
  -moz-box-flex: 1.0;
  -o-box-flex: 1.0;
  -ms-box-flex: 1.0;
  box-flex: 1.0;
  margin: 0px 5px;
}
#header .flex2 {
  -webkit-box-flex: 3.0;
  -moz-box-flex: 3.0;
  -o-box-flex: 3.0;
  -ms-box-flex: 3.0;
  box-flex: 3.0;
  margin: 0px 24px;
}
#header .form-search {
  display: inline-block;
  height: 30px;
  width: 100%;
  border: #ddd solid 1px;
  border-radius: 15px;
  position: relative;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.5);
}
#header .form-search i {
  position: absolute;
  right: 8px;
  font-size: 14px;
  color: #fff;
}
#header .form-search a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  text-indent: 20px;
  line-height: 30px;
  color: #fff;
  text-decoration: inherit;
}
#header .form-title {
  text-align: center;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#header .header-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: left;
  padding: 0 10px;
  margin-top: 2px;
}
#header .header-btn > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  text-align: center;
  box-sizing: border-box;
  line-height: 24px;
}
#header .header-btn i {
  font-size: 18px;
  color: #fff;
}
#header .userhead-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: left;
  padding: 0 10px;
  margin-top: 2px;
}
#header .userhead-btn > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: none;
  text-align: center;
  line-height: 24px;
}
#header .userhead-btn i {
  font-size: 18px;
  color: #fff;
}
.pad1 {
  padding: 0.2rem 0;
}
.pad2 {
  padding: 1rem 0;
}
.padt0 {
  padding-top: 0;
}
.padt10 {
  padding-top: 10px;
}
.padt50 {
  padding-top: 50px;
}
.padd0 {
  padding-bottom: 0;
}
.padd10 {
  padding-bottom: 10px !important;
}
.padd28 {
  padding-bottom: 2.8em;
}
.padr4 {
  padding-right: 0.4em;
}
.padl40 {
  padding-left: 4em;
}
.padl4 {
  padding-left: 0.4em;
}
.padl10 {
  padding-left: 10px;
}
.mgt10 {
  margin-top: 10px !important;
}
.mgt36 {
  margin-top: 36px !important;
}
.mgb4 {
  margin-bottom: 4px;
}
.mgb10 {
  margin-bottom: 10px !important;
}
.mgb32 {
  margin-bottom: 3.2em;
}
.mgb64 {
  margin-bottom: 64px !important;
}
.mgl10 {
  margin-left: 10px !important;
}
.w50 {
  width: 50%;
}
.w40 {
  width: 40%;
}
.w30 {
  width: 30%;
}
.w20 {
  width: 20%;
}
.w10 {
  width: 10%;
}
.w33 {
  width: 33.333%;
}
.page-width {
  max-width: 640px;
  margin: 0 auto;
}
.menu {
  *zoom: 1;
}
.menu:before,
.menu:after {
  display: table;
  content: "";
}
.menu:after {
  clear: both;
}
.menu li {
  width: 25%;
  float: left;
  font-size: 12px;
  text-decoration: none;
  color: #666;
  text-align: center;
  display: block;
  padding: 10px 0px;
  font-size: 1rem;
}
.menu li a {
  display: inline-block;
}
.menu li img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 6px auto;
}
.border-b {
  border-bottom: #ddd solid 1px;
}
.border-t {
  border-top: #ddd solid 1px;
}
.border-no {
  border: none;
}
.index-menu {
  display: block;
  overflow: hidden;
  padding: .5em 0;
  margin: .4em 0 .6em 0;
}
.index-menu li {
  display: block;
  width: 20%;
  float: left;
}
.index-menu li img {
  width: 100%;
}
.loc-box {
  display: block;
  overflow: hidden;
  border-top: 2px solid #1f1f1f;
  margin-bottom: 1em;
}
.loc-tab {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.loc-tab li {
  display: block;
  overflow: hidden;
  width: 25%;
  float: left;
  text-align: center;
  padding: .4em 0;
}
.loc-tab li.active {
  color: #f5c658;
}
.swiper-container2 {
  display: block;
  width: 100%;
  overflow: hidden;
}
.loctab-con {
  display: block;
  overflow: hidden;
  width: 100%;
}
.loctab-con .info {
  overflow: hidden;
  width: 100%;
  height: 16em;
  margin: 8px 0;
}
.loctab-con .picbox {
  display: block;
  overflow: hidden;
  float: left;
}
.loctab-con .picbox .pic {
  display: block;
  overflow: hidden;
  height: 12em;
}
.loctab-con .picbox .pic img {
  width: 100%;
}
.loctab-con .title {
  display: block;
  overflow: hidden;
  height: 4em;
  line-height: 4em;
  width: 92%;
  padding: 0 4%;
  position: absolute;
  top: 8em;
  color: #fff;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: linear-gradient(top, rgba(0, 0, 0, 0), #000000);
}
.loctab-con .title h2 {
  font-weight: normal;
  font-size: 1.8em;
}
.loctab-con .title > a {
  color: #f5c658;
}
.loctab-con .inner {
  padding: 4px;
}
.loctab-con .inner > p {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.loctab-con .inner .checkbox {
  display: block;
  overflow: hidden;
  border-top: 1px solid #ddd;
}
.loctab-con .inner .checkbox a.check {
  margin: 4px;
}
.loctab-con .inner .checkbox a:hover.check,
.loctab-con .inner .checkbox a:active.check,
.loctab-con .inner .checkbox a.active {
  color: #f5c658;
}
.newslist {
  display: block;
  overflow: hidden;
  width: 100%;
}
.newslist h3 {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: .4em 20%;
  height: 2em;
  line-height: 2em;
  background: #fff;
  font-weight: normal;
  font-size: 1.4em !important;
}
.newslist h3 span {
  padding: 0 .4em;
  background: #fff;
  display: inline-block;
}
.newslist h3 span i {
  margin: 0 .2em;
}
.newslist h3 hr {
  margin-top: -1em;
}
.newsbox-lg {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1em;
  background: #fff;
}
.newsbox-lg .picbox {
  display: block;
  overflow: hidden;
  width: 100%;
  padding: .4em 0;
  height: 12em;
}
.newsbox-lg .picbox img {
  width: 100%;
}
.newsbox-lg .tag {
  display: inline-block;
  position: absolute;
  top: 1em;
  padding: 2px 4px;
  background: #f5c658;
  color: #1f1f1f;
}
.newsbox-lg .title {
  display: block;
  position: absolute;
  width: 100%;
  top: 6.8em;
  height: 6em;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  color: #fff;
}
.newsbox-lg .title .manhead {
  position: relative;
  top: 3.4em;
  float: left;
  display: block;
  width: 4em;
  margin: 0 .4em;
}
.newsbox-lg .title .manhead .pic {
  display: block;
  overflow: hidden;
  width: 4em;
  height: 4em;
  border: 2px solid #f5c658;
  border-radius: 50%;
  box-sizing: border-box;
}
.newsbox-lg .title .manhead .pic img {
  width: 100%;
}
.newsbox-lg .title .manhead p.name {
  color: #aaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: 0.8em !important;
}
.newsbox-lg .title a.tit {
  width: 80%;
  margin-top: -1.2em;
  margin-left: 4em;
  font-size: 1.2em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.newsbox-lg p.info {
  display: block;
  padding: .4em .4em .4em 4.8em;
  border-bottom: 1px solid #ddd;
}
.clickbox {
  display: block;
  overflow: hidden;
  padding: .4em;
  font-size: 1.2em;
}
.clickbox a {
  margin: .4em;
}
.clickbox a i {
  font-size: 1.2em;
  margin-right: 4px;
}
.clickbox a:hover,
.clickbox a:active,
.clickbox a.active {
  color: #f5c658;
}
.newsbox-sm {
  display: block;
  overflow: hidden;
  background: #fff;
  width: 100%;
  margin-bottom: 1em;
}
.newsbox-sm .picbox {
  display: block;
  overflow: hidden;
  padding: .4em;
}
.newsbox-sm .picbox li {
  display: block;
  overflow: hidden;
  width: 31.33%;
  margin: 0 1%;
  float: left;
}
.newsbox-sm .picbox li img {
  width: 100%;
}
.newsbox-sm .infobox {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.newsbox-sm .infobox .title {
  display: block;
  overflow: hidden;
  height: 24px;
  line-height: 24px;
}
.newsbox-sm .infobox .title .tag {
  display: block;
  width: 18%;
  text-align: center;
  background: #f5c658;
  color: #1f1f1f;
  margin-right: 2%;
}
.newsbox-sm .infobox .title a.tit {
  display: block;
  width: 78%;
  overflow: hidden;
  font-size: 1.2em;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.newsbox-sm .infobox > p {
  display: block;
  padding: .4em;
}
.bottom-btn {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: .4em auto;
}
.bottom-btn > a {
  display: block;
  margin: 0 8em;
  padding: .4em .8em;
  border-radius: 1.2em;
  border: 1px solid #f5c658;
  color: #f5c658;
}
.pagetab {
  position: fixed;
  display: block;
  width: 100%;
  background: #1f1f1f;
  color: #f5c658;
  overflow: hidden;
  z-index: 999;
}
.pagetab li {
  display: block;
  width: 20%;
  float: left;
  text-align: center;
}
.pagetab li a {
  display: inline-block;
  padding: 8px 0;
  box-sizing: border-box;
}
.pagetab li a:hover,
.pagetab li a:active,
.pagetab li a.active {
  border-bottom: 2px solid #fed572;
  color: #fed572;
}
.pagetit-box {
  position: relative;
  display: block;
}
.pagetit-box .pic-box {
  display: block;
  overflow: hidden;
  height: 12em;
}
.pagetit-box .pic-box img {
  width: 100%;
}
.pagetit-box .titinfo {
  position: absolute;
  top: 6em;
  display: block;
  width: 96%;
  height: 6em;
  padding: 0 2%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000);
  background: linear-gradient(top, rgba(0, 0, 0, 0), #000000);
}
.pagetit-box .titinfo .manhead {
  display: block;
  overflow: hidden;
  position: relative;
  top: 2.4em;
  margin-right: .4em;
}
.pagetit-box .titinfo .manhead .pic {
  display: block;
  overflow: hidden;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 2px solid #f5c658;
  box-sizing: border-box;
}
.pagetit-box .titinfo .manhead .pic img {
  width: 100%;
}
.pagetit-box .titinfo .manhead a.focuse {
  display: inline-block;
  background: #fed572;
  color: #1f1f1f;
  border-radius: 4px;
  padding: 2px 12px;
  text-align: center;
}
.pagetit-box .titinfo .manhead a:active.focuse,
.pagetit-box .titinfo .manhead a:hover.focuse {
  background: #f5c658;
}
.pagetit-box .titinfo .info {
  display: block;
  overflow: hidden;
  margin-top: 1.8em;
}
.pagetit-box .titinfo .info p.pagetit {
  display: block;
  height: 2.8em;
  font-size: 1.4em !important;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.pagetit-box .titinfo .info .tagbox {
  display: block;
  margin: 8px 0;
  color: #f5c658;
}
.pagetit-box .titinfo .info .detailbox {
  display: block;
  overflow: hidden;
  height: 2em;
  line-height: 2em;
}
.pagetit-box .titinfo .info .detailbox a {
  display: inline-block;
  margin: 0 4px;
  float: left;
  line-height: 2em;
}
.pagetit-box .titinfo .info .detailbox a.active,
.pagetit-box .titinfo .info .detailbox a:active,
.pagetit-box .titinfo .info .detailbox a:hover {
  color: #f5c658;
}
.pageinfo {
  display: block;
  overflow: hidden;
  padding-top: 6em;
  margin-bottom: 1em;
}
.pageinfo .border {
  height: 1px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
}
.pageinfo > p {
  padding: 4px 8px;
}
.pageinfo > p img {
  width: 100%;
}
.related {
  display: block;
  overflow: hidden;
  margin-bottom: 1em;
}
.related h2 {
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 8px;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  font-size: 1.4em !important;
}
.relatedbox-lg {
  display: block;
  overflow: hidden;
  margin: 8px;
  position: relative;
}
.relatedbox-lg .pic {
  display: block;
  overflow: hidden;
  width: 100%;
}
.relatedbox-lg .pic img {
  width: 100%;
  vertical-align: top;
}
.relatedbox-lg a.collect {
  display: inline-block;
  position: absolute;
  top: .4em;
  right: .4em;
  background: rgba(245, 198, 88, 0.8);
  color: #ffffff;
  width: 2.4em;
  height: 2.4em;
  line-height: 2.4em;
  text-align: center;
  border-radius: 50%;
  z-index: 99;
}
.relatedbox-lg a.collect i {
  font-size: 1.4em !important;
}
.relatedbox-lg .titbox {
  display: block;
  width: 96%;
  height: 8em;
  padding: 0 2%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
.relatedbox-lg .titbox p.tit {
  font-size: 1.4em !important;
  color: #ffffff;
  margin-top: 1em;
}
.relatedbox-lg .titbox .detail {
  display: block;
  overflow: hidden;
}
.relatedbox-lg .titbox .detail .prize {
  float: left;
}
.relatedbox-lg .titbox .detail .prize .norprize {
  color: #ffffff;
  text-decoration: line-through;
  margin-left: 4px;
}
.relatedbox-lg .titbox .detail a.btn-buy {
  display: inline-block;
  float: right;
  color: #f5c658;
  font-size: 1.4em !important;
}
.relatedbox-lg .titbox .detail a.btn-buy i {
  margin-right: 4px;
}
.relatedbox-sm {
  display: block;
  padding: 8px;
  overflow: hidden;
}
.relatedbox-sm .probox {
  display: block;
  overflow: hidden;
}
.relatedbox-sm .probox .pic {
  display: block;
  width: 100%;
  overflow: hidden;
}
.relatedbox-sm .probox .pic img {
  width: 100%;
}
.relatedbox-sm .probox a.collect {
  display: inline-block;
  position: absolute;
  top: .4em;
  right: .4em;
  background: rgba(245, 198, 88, 0.8);
  color: #ffffff;
  width: 2.4em;
  height: 2.4em;
  line-height: 2.4em;
  text-align: center;
  border-radius: 50%;
  z-index: 99;
}
.relatedbox-sm .probox a.collect i {
  font-size: 1.4em !important;
}
.relatedbox-sm .titbox {
  display: block;
  overflow: hidden;
}
.relatedbox-sm .titbox p.tit {
  height: 3em;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.relatedbox-sm .titbox .detail {
  display: block;
  overflow: hidden;
  line-height: 1.4em;
}
.relatedbox-sm .titbox .detail .prize {
  float: left;
}
.relatedbox-sm .titbox .detail .prize .norprize {
  font-size: 0.8em !important;
  text-decoration: line-through;
  color: #bfbfbf;
}
.relatedbox-sm .titbox .detail a.btn-buy {
  float: right;
  color: #f5c658;
}
.comment {
  display: block;
  overflow: hidden;
}
.comment h2 {
  display: block;
  overflow: hidden;
  font-weight: normal;
  height: 2.8em;
  line-height: 2.8em;
  padding: 0 8px;
  border-bottom: 1px solid #ddd;
}
.comment .commentbox {
  display: block;
  overflow: hidden;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.comment .commentbox .manhead {
  display: block;
  width: 24%;
  height: auto;
  float: left;
}
.comment .commentbox .manhead .pic {
  display: block;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #f5c658;
}
.comment .commentbox .manhead .pic img {
  width: 100%;
}
.comment .commentbox .info {
  display: block;
  float: left;
  width: 76%;
}
.comment .commentbox .info .namebox {
  display: block;
  overflow: hidden;
  font-size: 1.2em;
}
.comment .commentbox .info .namebox > span {
  font-weight: 600;
}
.comment .commentbox .info .namebox > a:hover,
.comment .commentbox .info .namebox a:active {
  color: #f5c658;
}
.comment .commentbox .info .date {
  color: #bfbfbf;
  font-size: 1em;
}
.comment .commentbox .info .date span {
  margin-right: 8px;
}
.comment .commentbox .info .replybox {
  display: block;
  overflow: hidden;
}
.comment .commentbox .info .replybox .replyname {
  margin-right: 4px;
}
.comment .commentbox .info .postxt {
  display: block;
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 4px;
  margin-top: 4px;
}
.prolist {
  display: block;
  overflow: hidden;
}
.prolist .probox {
  position: relative;
  display: block;
  overflow: hidden;
  width: 48%;
  margin: 4px 1%;
  float: left;
  background: #fff;
}
.prolist .probox .pic {
  display: block;
  width: 100%;
  overflow: hidden;
}
.prolist .probox .pic img {
  width: 100%;
}
.prolist .probox a.collect {
  display: inline-block;
  position: absolute;
  top: .4em;
  right: .4em;
  background: rgba(245, 198, 88, 0.8);
  color: #ffffff;
  width: 2.4em;
  height: 2.4em;
  line-height: 2.4em;
  text-align: center;
  border-radius: 50%;
  z-index: 99;
}
.prolist .probox a.collect i {
  font-size: 1.4em !important;
}
.prolist .titbox {
  display: block;
  overflow: hidden;
  padding: 4px;
}
.prolist .titbox p.tit {
  height: 3em;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.prolist .titbox .detail {
  display: block;
  overflow: hidden;
  line-height: 1.4em;
}
.prolist .titbox .detail .prize {
  float: left;
}
.prolist .titbox .detail .prize .norprize {
  font-size: 0.8em !important;
  text-decoration: line-through;
  color: #bfbfbf;
}
.prolist .titbox .detail a.btn-buy {
  float: right;
  color: #f5c658;
}
.prodetail {
  display: block;
  overflow: hidden;
  background: #fff;
  margin: .5em 0;
  padding: 8px 4px;
}
.prodetail h2.tit {
  font-size: 1.4em !important;
}
.prodetail .prize {
  display: block;
  overflow: hidden;
}
.prodetail .prize .norprize {
  font-size: 0.8em !important;
  color: #bfbfbf;
  text-decoration: line-through;
}
.shopbox {
  display: block;
  overflow: hidden;
  background: #fff;
  margin-bottom: .5em;
}
.shopbox h2.tit {
  height: 2.8em;
  line-height: 2.8em;
  padding: 0 8px;
  font-size: 1.2em;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}
.shopbox .groupbox {
  display: block;
  overflow: hidden;
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
}
.shopbox .joinlink {
  display: block;
  position: relative;
  height: 4em;
  width: 94%;
  border-radius: 3em;
  border: 1px solid #f5c658;
  box-sizing: content-box;
}
.shopbox .joinlink .manhead {
  display: inline-block;
  overflow: hidden;
  height: 3.8em;
  width: 3.8em;
  border-radius: 50%;
  border: 1px solid #f5c658;
  box-sizing: content-box;
}
.shopbox .joinlink .manhead img {
  width: 100%;
  vertical-align: top;
}
.shopbox .joinlink .detail {
  display: block;
  overflow: hidden;
  width: 68%;
  padding: 0 1%;
  float: left;
  line-height: 2em;
}
.shopbox .joinlink .detail .name {
  white-space: nowrap;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shopbox .joinlink .detail .leftime {
  font-size: 0.8em !important;
}
.shopbox .joinlink .join {
  background: #f5c658;
  display: block;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  top: .5em;
  right: -4px;
  height: 3em;
  width: 3em;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  text-align: center;
  border-radius: 4px;
}
.shopbox .joinlink a.btn-join {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  text-align: center;
  color: #ffffff;
  position: relative;
  top: .6em;
  right: .4em;
}
.shopbox .commentbox {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 4px 8px;
}
.shopbox .commentbox .manhead {
  display: block;
  overflow: hidden;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  float: left;
  border: 2px solid #f5c658;
}
.shopbox .commentbox .manhead img {
  width: 100%;
  vertical-align: top;
}
.shopbox .commentbox .detailbox {
  display: block;
  overflow: hidden;
  width: 56%;
  margin-left: 4px;
  float: left;
}
.shopbox .commentbox .stars {
  display: block;
  color: #f5c658;
  float: right;
}
.shopbox .commentbox .stars i {
  font-size: 1em;
}
.infobox {
  display: block;
  overflow: hidden;
  width: 100%;
}
.infobox p {
  width: 100%;
}
.infobox img {
  width: 100%;
}
.addcarbox {
  display: block;
  overflow: hidden;
}
.addcarbox .prosec {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 0 8px 8px 8px;
}
.addcarbox .prosec .pic {
  width: 6em;
  height: 6em;
  float: left;
}
.addcarbox .prosec .pic img {
  width: 100%;
}
.addcarbox .prosec .info {
  float: left;
  display: block;
  overflow: hidden;
  margin-left: 8px;
}
.addcarbox .prosec > a {
  display: block;
  overflow: hidden;
  width: 1.4em;
  height: 1.4em;
  font-size: 1.4em !important;
  position: absolute;
  right: 8px;
  top: 4px;
}
.addcarbox .prosec > a i {
  font-size: 1.4em !important;
}
.addcarbox .prosize {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 0 8px;
}
.addcarbox .prosize > p {
  display: block;
  overflow: hidden;
}
.addcarbox .prosize .tag {
  display: block;
  margin: 4px 0;
  overflow: hidden;
}
.addcarbox .prosize .tag > a {
  display: inline-block;
  padding: 2px 8px;
  margin-right: 8px;
  float: left;
  border-radius: 4px;
  border: 1px solid #f5c658;
}
.addcarbox .prosize .tag > a:hover,
.addcarbox .prosize .tag > a:active,
.addcarbox .prosize .tag > a.active {
  background: #f5c658;
}
.addcarbox .pronum {
  display: block;
  height: 2.4em;
  line-height: 2.4em;
  padding: 4px 8px;
}
.addcarbox .pronum input[type="text"] {
  width: 4em;
  border: 1px solid #f5c658;
  height: 1.8em;
  margin: .2em auto;
}
.addcarbox .pronum a {
  font-size: 1.2em;
  margin: 0 4px;
}
.addcarbox > a.confirm {
  display: block;
  width: 100%;
  overflow: hidden;
  background: #f5c658;
  color: #1f1f1f;
  text-align: center;
  height: 2.4em;
  line-height: 2.4em;
}
.ordertab {
  position: fixed;
  display: block;
  width: 100%;
  background: #1f1f1f;
  color: #f5c658;
  overflow: hidden;
  z-index: 999;
}
.ordertab li {
  display: block;
  width: 16.66%;
  float: left;
  text-align: center;
  font-size: 0.8em !important;
}
.ordertab li a {
  display: inline-block;
  padding: 8px 0;
  box-sizing: border-box;
}
.ordertab li a:hover,
.ordertab li a:active,
.ordertab li a.active {
  border-bottom: 2px solid #fed572;
  color: #fed572;
}
.orderlist {
  display: block;
  overflow: hidden;
}
.orderbox {
  background: #fff;
  display: block;
  overflow: hidden;
  margin-bottom: 1em;
}
.orderbox .state {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  height: 2.4em;
  line-height: 2.4em;
  color: #1f1f1f;
  padding: 0 8px;
  box-sizing: border-box;
}
.orderbox .proinfo {
  width: 96%;
  display: block;
  overflow: hidden;
  padding: 4px 2%;
  border-bottom: 1px solid #ddd;
}
.orderbox .proinfo .pic {
  display: block;
  width: 24%;
  height: 6em;
  overflow: hidden;
  float: left;
}
.orderbox .proinfo .pic img {
  width: 100%;
  vertical-align: top;
}
.orderbox .proinfo .detail {
  display: block;
  width: 74%;
  margin-left: 2%;
  overflow: hidden;
  float: left;
}
.orderbox .proinfo .detail p.tit {
  font-size: 1.2em;
  font-weight: 600;
  display: inline-block;
}
.orderbox .countall {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  text-align: right;
  height: 2.8em;
  line-height: 2.8em;
}
.orderbox .orderbtn {
  display: block;
  overflow: hidden;
}
.orderbox .orderbtn > a {
  float: right;
  margin: 8px 4px;
}
a.btn {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding: 2px 8px;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
}
a.btn.default {
  border-color: #1f1f1f;
  color: #1f1f1f;
}
a.btn.success {
  border-color: #fed572;
  color: #f5c658;
}
a.btn.warning {
  border-color: #fa7669;
  color: #fa7669;
}
.personal {
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 1em;
}
.personal .bg-pic {
  position: absolute;
  top: 0;
  z-index: 1;
  overflow: hidden;
}
.personal .bg-pic img {
  width: 100%;
  vertical-align: top;
}
.personal .manhead {
  position: relative;
  z-index: 99;
  margin: 20px auto 0 auto;
  text-align: center;
  display: block;
  overflow: hidden;
  width: 4.4em;
  height: 4.4em;
  border-radius: 50%;
  border: 2px solid #f5c658;
  box-sizing: border-box;
}
.personal .manhead img {
  width: 100%;
  vertical-align: top;
}
.personal p.maname {
  color: #ffffff;
  position: relative;
  text-align: center;
  z-index: 98;
  font-size: 1.2em;
  margin: 4px auto;
}
.personal a.sign {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 97;
  width: 5em;
  background: #f5c658;
  color: #ffffff;
  text-align: center;
  border-radius: 2em;
}
.btn-wallet {
  display: block;
  overflow: hidden;
  margin-top: 1em;
  border-top: 1px solid #f5c658;
  border-bottom: 1px solid #f5c658;
  background: #fff;
  padding: 6px 0;
  margin-bottom: 1em;
}
.btn-wallet > a {
  display: inline-block;
  overflow: hidden;
  width: 49%;
  float: left;
  text-align: center;
  height: 2.4em;
  line-height: 2.4em;
  box-sizing: border-box;
}
.btn-wallet > a span.circle {
  display: inline-block;
  line-height: 2em;
  text-align: center;
  background: #f5c658;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin-right: 4px;
}
.btn-wallet > a i {
  font-size: 1.8em;
}
.btn-wallet a.integral {
  border-right: 1px solid #f5c658;
}
.btn-order {
  display: block;
  overflow: hidden;
  background: #fff;
}
.btn-order .tit {
  display: block;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0 8px;
  border-bottom: 1px solid #ddd;
}
.btn-order li {
  float: left;
  width: 20%;
  text-align: center;
  padding: 4px 0;
}
.btn-order li > a {
  display: inline-block;
  overflow: hidden;
}
.btn-order li i {
  font-size: 1.8em;
  color: #f5c658;
}
.funclist {
  display: block;
  overflow: hidden;
  background: #fff;
  margin-top: 1em;
}
.funclist li {
  display: block;
  overflow: hidden;
  height: 2.8em;
  line-height: 2.8em;
  border-top: 1px solid #ddd;
  padding: 0 8px;
}
.funclist li a.item > span {
  margin-left: 8px;
}
